h1{
    color: rgb(55, 136, 118);
    padding-top: 10px;
}

h2{
    color: rgb(55, 136, 118);
    padding-top: 10px;
}

h3{
    color: rgb(55, 136, 118);
    padding-left:100px;
    padding-top:30px;
}

h5{
    color: rgb(55, 136, 118);
}

body{
    background-color: rgb(200, 206, 199)
}


.navbar-title{
    padding-top:0px;
    padding-left: 50px;
}

.container{
    margin-top:100px;
}

.card-header{
    color: rgb(55, 136, 118);
    background-color: white;
}

.card-text{
    color:rgb(92, 91, 91)
}
.card-img{
    padding-top: 20%;
}

.box {
    ;
    background: #ffffff;
    padding-bottom: 30px;
}
  
.box-left {
    padding: 20px;
}
  
.box-right {
    padding: 30px;
}

.box-single{
    padding:20px;
}



#landing-viz {
    width: 100%;
    height: 100%;
    padding:5px;
}

#summary{
    padding-bottom: 20px;
}


.row.row-grid [class*="col-"] + [class*="col-"] {
    margin-top: 30px;
}

@media (min-width: 1200px) {
    .row.row-grid [class*="col-lg-"] + [class*="col-lg-"] {
        margin-top: 0;
    }
}
@media (min-width: 992px) {
    .row.row-grid [class*="col-md-"] + [class*="col-md-"] {
        margin-top: 0;
    }
}
@media (min-width: 768px) {
    .row.row-grid [class*="col-sm-"] + [class*="col-sm-"] {
        margin-top: 0;
    }
}
@media (min-width: 768px) {
  .row.row-grid [class*="col-xs-"] + [class*="col-xs-"] {
      margin-top: 0;
  }
}


